# Python
.venv/
__pycache__/
*.py[cod]

# Logs
.logs/

# Models external source
ai/CatVTON/

ai_virtual_try_on.egg-info/
densepose_/

# Model weights
models/
*.safetensors
*.ckpt
*.pth
*.pt
*.bin

# Inputs Outputs
inputs/
outputs/
results/

test_person.jpg
test_cloth.jpg
test_result.png

# Environment
.env
# .env.* files (except examples)
.env.*
!.env.example

# IDE
.vscode/
# Backend virtual environment
backend/.venv/
backend/__pycache__/

# Frontend
frontend/frontend/node_modules/
frontend/node_modules/

# Model API
model_api/__pycache__/

# Outputs
outputs/
results/
