# Python
.venv/
__pycache__/
*.py[cod]

# Models external source
ai/CatVTON/

ai_virtual_try_on.egg-info/
densepose_/

# Model weights
models/
*.safetensors
*.ckpt
*.pth
*.pt
*.bin

# Inputs Outputs
inputs/
outputs/
results/

test_person.jpg
test_cloth.jpg
test_result.png

# Environment
.env
.env.*

# IDE
.vscode/